In [1]:
import pandas as pd
import numpy as np
from pyspark import SparkContext
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

## Create Flights Temporary Table

In [2]:
flights_path = "flights.csv"

flights_data = spark.read.csv(flights_path, header=True)
flights_data.show()

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|2008|    1|         3|        4|   2003|      1955|   2211|      2225|           WN|      335| N712SW|              128|           150|    116|     -14|       8|   IAD| TPA|     810|     4|      8|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|    754|       735|   1002|      1000|           WN|     3231| N772SW|              128|           145|    113|       2|      19|   IAD| TPA|     810|     5|     10|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|    628|       620|    804|       750|           WN|      448| N428WN|               96|            90|     76|      14|       8|   IND| BWI|     515|     3|     17|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|    926|       930|   1054|      1100|           WN|     1746| N612SW|               88|            90|     78|      -6|      -4|   IND| BWI|     515|     3|      7|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1829|      1755|   1959|      1925|           WN|     3920| N464WN|               90|            90|     77|      34|      34|   IND| BWI|     515|     3|     10|        0|            null|       0|           2|           0|       0|            0|               32|
|2008|    1|         3|        4|   1940|      1915|   2121|      2110|           WN|      378| N726SW|              101|           115|     87|      11|      25|   IND| JAX|     688|     4|     10|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1937|      1830|   2037|      1940|           WN|      509| N763SW|              240|           250|    230|      57|      67|   IND| LAS|    1591|     3|      7|        0|            null|       0|          10|           0|       0|            0|               47|
|2008|    1|         3|        4|   1039|      1040|   1132|      1150|           WN|      535| N428WN|              233|           250|    219|     -18|      -1|   IND| LAS|    1591|     7|      7|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|    617|       615|    652|       650|           WN|       11| N689SW|               95|            95|     70|       2|       2|   IND| MCI|     451|     6|     19|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1620|      1620|   1639|      1655|           WN|      810| N648SW|               79|            95|     70|     -16|       0|   IND| MCI|     451|     3|      6|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|    706|       700|    916|       915|           WN|      100| N690SW|              130|           135|    106|       1|       6|   IND| MCO|     828|     5|     19|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1644|      1510|   1845|      1725|           WN|     1333| N334SW|              121|           135|    107|      80|      94|   IND| MCO|     828|     6|      8|        0|            null|       0|           8|           0|       0|            0|               72|
|2008|    1|         3|        4|   1426|      1430|   1426|      1425|           WN|      829| N476WN|               60|            55|     39|       1|      -4|   IND| MDW|     162|     9|     12|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|    715|       715|    720|       710|           WN|     1016| N765SW|               65|            55|     37|      10|       0|   IND| MDW|     162|     7|     21|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1702|      1700|   1651|      1655|           WN|     1827| N420WN|               49|            55|     35|      -4|       2|   IND| MDW|     162|     4|     10|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1029|      1020|   1021|      1010|           WN|     2272| N263WN|               52|            50|     37|      11|       9|   IND| MDW|     162|     6|      9|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1452|      1425|   1640|      1625|           WN|      675| N286WN|              228|           240|    213|      15|      27|   IND| PHX|    1489|     7|      8|        0|            null|       0|           3|           0|       0|            0|               12|
|2008|    1|         3|        4|    754|       745|    940|       955|           WN|     1144| N778SW|              226|           250|    205|     -15|       9|   IND| PHX|    1489|     5|     16|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1323|      1255|   1526|      1510|           WN|        4| N674AA|              123|           135|    110|      16|      28|   IND| TPA|     838|     4|      9|        0|            null|       0|           0|           0|       0|            0|               16|
|2008|    1|         3|        4|   1416|      1325|   1512|      1435|           WN|       54| N643SW|               56|            70|     49|      37|      51|   ISP| BWI|     220|     2|      5|        0|            null|       0|          12|           0|       0|            0|               25|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 20 rows

## Save Data As Temporary Table

In [3]:
print(spark.catalog.listTables())
flights_data.createOrReplaceTempView("flights")
print(spark.catalog.listTables())

[]
[Table(name='flights', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

## Creating columns

In this chapter, you'll learn how to use the methods defined by Spark's DataFrame class to perform common data operations.

Let's look at performing column-wise operations. In Spark you can do this using the `.withColumn()` method, which takes two arguments. First, a string with the name of your new column, and second the new column itself.

The new column must be an object of class Column. Creating one of these is as easy as extracting a column from your DataFrame using `df.colName`.

Updating a Spark DataFrame is somewhat different than working in pandas because the Spark DataFrame is immutable. This means that it can't be changed, and so columns can't be updated in place.

Thus, all these methods return a new DataFrame. To overwrite the original DataFrame you must reassign the returned DataFrame using the method like so:

`df = df.withColumn("newCol", df.oldCol + 1)`
The above code creates a DataFrame with the same columns as df plus a new column, newCol, where every entry is equal to the corresponding entry from oldCol, plus one.

To overwrite an existing column, just pass the name of the column as the first argument!

Remember, a SparkSession called spark is already in your workspace.

In [5]:
# Before Add new column
flights = spark.table("flights")
flights.show()

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|2008|    1|         3|        4|   2003|      1955|   2211|      2225|           WN|      335| N712SW|              128|           150|    116|     -14|       8|   IAD| TPA|     810|     4|      8|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|    754|       735|   1002|      1000|           WN|     3231| N772SW|              128|           145|    113|       2|      19|   IAD| TPA|     810|     5|     10|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|    628|       620|    804|       750|           WN|      448| N428WN|               96|            90|     76|      14|       8|   IND| BWI|     515|     3|     17|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|    926|       930|   1054|      1100|           WN|     1746| N612SW|               88|            90|     78|      -6|      -4|   IND| BWI|     515|     3|      7|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1829|      1755|   1959|      1925|           WN|     3920| N464WN|               90|            90|     77|      34|      34|   IND| BWI|     515|     3|     10|        0|            null|       0|           2|           0|       0|            0|               32|
|2008|    1|         3|        4|   1940|      1915|   2121|      2110|           WN|      378| N726SW|              101|           115|     87|      11|      25|   IND| JAX|     688|     4|     10|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1937|      1830|   2037|      1940|           WN|      509| N763SW|              240|           250|    230|      57|      67|   IND| LAS|    1591|     3|      7|        0|            null|       0|          10|           0|       0|            0|               47|
|2008|    1|         3|        4|   1039|      1040|   1132|      1150|           WN|      535| N428WN|              233|           250|    219|     -18|      -1|   IND| LAS|    1591|     7|      7|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|    617|       615|    652|       650|           WN|       11| N689SW|               95|            95|     70|       2|       2|   IND| MCI|     451|     6|     19|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1620|      1620|   1639|      1655|           WN|      810| N648SW|               79|            95|     70|     -16|       0|   IND| MCI|     451|     3|      6|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|    706|       700|    916|       915|           WN|      100| N690SW|              130|           135|    106|       1|       6|   IND| MCO|     828|     5|     19|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1644|      1510|   1845|      1725|           WN|     1333| N334SW|              121|           135|    107|      80|      94|   IND| MCO|     828|     6|      8|        0|            null|       0|           8|           0|       0|            0|               72|
|2008|    1|         3|        4|   1426|      1430|   1426|      1425|           WN|      829| N476WN|               60|            55|     39|       1|      -4|   IND| MDW|     162|     9|     12|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|    715|       715|    720|       710|           WN|     1016| N765SW|               65|            55|     37|      10|       0|   IND| MDW|     162|     7|     21|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1702|      1700|   1651|      1655|           WN|     1827| N420WN|               49|            55|     35|      -4|       2|   IND| MDW|     162|     4|     10|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1029|      1020|   1021|      1010|           WN|     2272| N263WN|               52|            50|     37|      11|       9|   IND| MDW|     162|     6|      9|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1452|      1425|   1640|      1625|           WN|      675| N286WN|              228|           240|    213|      15|      27|   IND| PHX|    1489|     7|      8|        0|            null|       0|           3|           0|       0|            0|               12|
|2008|    1|         3|        4|    754|       745|    940|       955|           WN|     1144| N778SW|              226|           250|    205|     -15|       9|   IND| PHX|    1489|     5|     16|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1323|      1255|   1526|      1510|           WN|        4| N674AA|              123|           135|    110|      16|      28|   IND| TPA|     838|     4|      9|        0|            null|       0|           0|           0|       0|            0|               16|
|2008|    1|         3|        4|   1416|      1325|   1512|      1435|           WN|       54| N643SW|               56|            70|     49|      37|      51|   ISP| BWI|     220|     2|      5|        0|            null|       0|          12|           0|       0|            0|               25|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 20 rows

In [6]:
flights = flights.withColumn("duration_hrs", flights.AirTime / 60)

flights.show()

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|      duration_hrs|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------------+
|2008|    1|         3|        4|   2003|      1955|   2211|      2225|           WN|      335| N712SW|              128|           150|    116|     -14|       8|   IAD| TPA|     810|     4|      8|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|1.9333333333333333|
|2008|    1|         3|        4|    754|       735|   1002|      1000|           WN|     3231| N772SW|              128|           145|    113|       2|      19|   IAD| TPA|     810|     5|     10|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|1.8833333333333333|
|2008|    1|         3|        4|    628|       620|    804|       750|           WN|      448| N428WN|               96|            90|     76|      14|       8|   IND| BWI|     515|     3|     17|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|1.2666666666666666|
|2008|    1|         3|        4|    926|       930|   1054|      1100|           WN|     1746| N612SW|               88|            90|     78|      -6|      -4|   IND| BWI|     515|     3|      7|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|               1.3|
|2008|    1|         3|        4|   1829|      1755|   1959|      1925|           WN|     3920| N464WN|               90|            90|     77|      34|      34|   IND| BWI|     515|     3|     10|        0|            null|       0|           2|           0|       0|            0|               32|1.2833333333333334|
|2008|    1|         3|        4|   1940|      1915|   2121|      2110|           WN|      378| N726SW|              101|           115|     87|      11|      25|   IND| JAX|     688|     4|     10|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|              1.45|
|2008|    1|         3|        4|   1937|      1830|   2037|      1940|           WN|      509| N763SW|              240|           250|    230|      57|      67|   IND| LAS|    1591|     3|      7|        0|            null|       0|          10|           0|       0|            0|               47|3.8333333333333335|
|2008|    1|         3|        4|   1039|      1040|   1132|      1150|           WN|      535| N428WN|              233|           250|    219|     -18|      -1|   IND| LAS|    1591|     7|      7|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|              3.65|
|2008|    1|         3|        4|    617|       615|    652|       650|           WN|       11| N689SW|               95|            95|     70|       2|       2|   IND| MCI|     451|     6|     19|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|1.1666666666666667|
|2008|    1|         3|        4|   1620|      1620|   1639|      1655|           WN|      810| N648SW|               79|            95|     70|     -16|       0|   IND| MCI|     451|     3|      6|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|1.1666666666666667|
|2008|    1|         3|        4|    706|       700|    916|       915|           WN|      100| N690SW|              130|           135|    106|       1|       6|   IND| MCO|     828|     5|     19|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|1.7666666666666666|
|2008|    1|         3|        4|   1644|      1510|   1845|      1725|           WN|     1333| N334SW|              121|           135|    107|      80|      94|   IND| MCO|     828|     6|      8|        0|            null|       0|           8|           0|       0|            0|               72|1.7833333333333334|
|2008|    1|         3|        4|   1426|      1430|   1426|      1425|           WN|      829| N476WN|               60|            55|     39|       1|      -4|   IND| MDW|     162|     9|     12|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|              0.65|
|2008|    1|         3|        4|    715|       715|    720|       710|           WN|     1016| N765SW|               65|            55|     37|      10|       0|   IND| MDW|     162|     7|     21|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|0.6166666666666667|
|2008|    1|         3|        4|   1702|      1700|   1651|      1655|           WN|     1827| N420WN|               49|            55|     35|      -4|       2|   IND| MDW|     162|     4|     10|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|0.5833333333333334|
|2008|    1|         3|        4|   1029|      1020|   1021|      1010|           WN|     2272| N263WN|               52|            50|     37|      11|       9|   IND| MDW|     162|     6|      9|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|0.6166666666666667|
|2008|    1|         3|        4|   1452|      1425|   1640|      1625|           WN|      675| N286WN|              228|           240|    213|      15|      27|   IND| PHX|    1489|     7|      8|        0|            null|       0|           3|           0|       0|            0|               12|              3.55|
|2008|    1|         3|        4|    754|       745|    940|       955|           WN|     1144| N778SW|              226|           250|    205|     -15|       9|   IND| PHX|    1489|     5|     16|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|3.4166666666666665|
|2008|    1|         3|        4|   1323|      1255|   1526|      1510|           WN|        4| N674AA|              123|           135|    110|      16|      28|   IND| TPA|     838|     4|      9|        0|            null|       0|           0|           0|       0|            0|               16|1.8333333333333333|
|2008|    1|         3|        4|   1416|      1325|   1512|      1435|           WN|       54| N643SW|               56|            70|     49|      37|      51|   ISP| BWI|     220|     2|      5|        0|            null|       0|          12|           0|       0|            0|               25|0.8166666666666667|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------------+
only showing top 20 rows

## Filtering Data

Now that you have a bit of SQL know-how under your belt, it's easier to talk about the analogous operations using Spark DataFrames.

Let's take a look at the `.filter()` method. As you might suspect, this is the Spark counterpart of SQL's WHERE clause. The `.filter()` method takes either an expression that would follow the WHERE clause of a SQL expression as a string, or a Spark Column of boolean (True/False) values.

For example, the following two expressions will produce the same output:

```
flights.filter("air_time > 120").show()
flights.filter(flights.air_time > 120).show()
```

Notice that in the first case, we pass a string to `.filter()`. In SQL, we would write this filtering task as `SELECT * FROM flights WHERE air_time > 120`. Spark's `.filter()` can accept any expression that could go in the WHEREclause of a SQL query (in this case, "air_time > 120"), as long as it is passed as a string. Notice that in this case, we do not reference the name of the table in the string -- as we wouldn't in the SQL request.

In the second case, we actually pass a column of boolean values to `.filter()`. Remember that `flights.air_time > 120` returns a column of boolean values that has `True` in place of those records in `flights.air_time` that are over 120, and `False` otherwise.

Remember, a SparkSession called spark is already in your workspace, along with the Spark DataFrame flights.

In [8]:
# Filter flights by passing a string
long_flights1 = flights.filter("distance > 1000")

# Filter flights by passing a column of boolean values
long_flights2 = flights.filter(flights.Distance > 1000)

# Print the data to check they're equal
long_flights1.show()
long_flights2.show()

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|      duration_hrs|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------------+
|2008|    1|         3|        4|   1937|      1830|   2037|      1940|           WN|      509| N763SW|              240|           250|    230|      57|      67|   IND| LAS|    1591|     3|      7|        0|            null|       0|          10|           0|       0|            0|               47|3.8333333333333335|
|2008|    1|         3|        4|   1039|      1040|   1132|      1150|           WN|      535| N428WN|              233|           250|    219|     -18|      -1|   IND| LAS|    1591|     7|      7|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|              3.65|
|2008|    1|         3|        4|   1452|      1425|   1640|      1625|           WN|      675| N286WN|              228|           240|    213|      15|      27|   IND| PHX|    1489|     7|      8|        0|            null|       0|           3|           0|       0|            0|               12|              3.55|
|2008|    1|         3|        4|    754|       745|    940|       955|           WN|     1144| N778SW|              226|           250|    205|     -15|       9|   IND| PHX|    1489|     5|     16|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|3.4166666666666665|
|2008|    1|         3|        4|   1422|      1255|   1657|      1610|           WN|      188| N215WN|              155|           195|    143|      47|      87|   ISP| FLL|    1093|     6|      6|        0|            null|       0|          40|           0|       0|            0|                7|2.3833333333333333|
|2008|    1|         3|        4|   1954|      1925|   2239|      2235|           WN|     1754| N243WN|              165|           190|    155|       4|      29|   ISP| FLL|    1093|     3|      7|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|2.5833333333333335|
|2008|    1|         3|        4|    636|       635|    921|       945|           WN|     2275| N454WN|              165|           190|    147|     -24|       1|   ISP| FLL|    1093|     5|     13|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|              2.45|
|2008|    1|         3|        4|    734|       730|    958|      1020|           WN|      550| N712SW|              324|           350|    314|     -22|       4|   ISP| LAS|    2283|     2|      8|        0|            null|       0|          NA|          NA|      NA|           NA|               NA| 5.233333333333333|
|2008|    1|         3|        4|   1326|      1230|   1559|      1530|           WN|     1056| N459WN|              153|           180|    143|      29|      56|   ISP| PBI|    1052|     5|      5|        0|            null|       0|           0|           0|       0|            0|               29|2.3833333333333333|
|2008|    1|         3|        4|   1749|      1725|   2019|      2030|           WN|     2175| N621SW|              150|           185|    138|     -11|      24|   ISP| PBI|    1052|     4|      8|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|               2.3|
|2008|    1|         3|        4|    726|       720|    958|      1020|           WN|     3319| N206WN|              152|           180|    140|     -22|       6|   ISP| PBI|    1052|     4|      8|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|2.3333333333333335|
|2008|    1|         3|        4|    646|       640|    929|       955|           WN|     3667| N280WN|              163|           195|    151|     -26|       6|   ISP| RSW|    1101|     3|      9|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|2.5166666666666666|
|2008|    1|         3|        4|   1153|      1140|   1428|      1440|           WN|     2006| N241WN|              155|           180|    143|     -12|      13|   ISP| TPA|    1034|     4|      8|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|2.3833333333333333|
|2008|    1|         3|        4|   1528|      1510|   1802|      1810|           WN|     3858| N200WN|              154|           180|    144|      -8|      18|   ISP| TPA|    1034|     4|      6|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|               2.4|
|2008|    1|         3|        4|    634|       635|    907|       935|           WN|     3928| N459WN|              153|           180|    142|     -28|      -1|   ISP| TPA|    1034|     3|      8|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|2.3666666666666667|
|2008|    1|         3|        4|   1832|      1655|    148|        30|           WN|      302| N473WN|              256|           275|    243|      78|      97|   LAS| ALB|    2237|     3|     10|        0|            null|       0|           8|           0|       0|            0|               70|              4.05|
|2008|    1|         3|        4|   1256|      1240|   1724|      1720|           WN|      155| N238WN|              148|           160|    131|       4|      16|   LAS| AUS|    1090|     3|     14|        0|            null|       0|          NA|          NA|      NA|           NA|               NA| 2.183333333333333|
|2008|    1|         3|        4|   2118|      2015|    144|        50|           WN|     2021| N499WN|              146|           155|    127|      54|      63|   LAS| AUS|    1090|     5|     14|        0|            null|       0|          23|           0|       0|            0|               31|2.1166666666666667|
|2008|    1|         3|        4|    905|       850|   1334|      1330|           WN|     3222| N309SW|              149|           160|    135|       4|      15|   LAS| AUS|    1090|     4|     10|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|              2.25|
|2008|    1|         3|        4|   1739|      1640|    114|        25|           WN|     1018| N245WN|              275|           285|    253|      49|      59|   LAS| BDL|    2298|     9|     13|        0|            null|       0|          19|           0|       0|            0|               30| 4.216666666666667|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------------+
only showing top 20 rows

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|      duration_hrs|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------------+
|2008|    1|         3|        4|   1937|      1830|   2037|      1940|           WN|      509| N763SW|              240|           250|    230|      57|      67|   IND| LAS|    1591|     3|      7|        0|            null|       0|          10|           0|       0|            0|               47|3.8333333333333335|
|2008|    1|         3|        4|   1039|      1040|   1132|      1150|           WN|      535| N428WN|              233|           250|    219|     -18|      -1|   IND| LAS|    1591|     7|      7|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|              3.65|
|2008|    1|         3|        4|   1452|      1425|   1640|      1625|           WN|      675| N286WN|              228|           240|    213|      15|      27|   IND| PHX|    1489|     7|      8|        0|            null|       0|           3|           0|       0|            0|               12|              3.55|
|2008|    1|         3|        4|    754|       745|    940|       955|           WN|     1144| N778SW|              226|           250|    205|     -15|       9|   IND| PHX|    1489|     5|     16|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|3.4166666666666665|
|2008|    1|         3|        4|   1422|      1255|   1657|      1610|           WN|      188| N215WN|              155|           195|    143|      47|      87|   ISP| FLL|    1093|     6|      6|        0|            null|       0|          40|           0|       0|            0|                7|2.3833333333333333|
|2008|    1|         3|        4|   1954|      1925|   2239|      2235|           WN|     1754| N243WN|              165|           190|    155|       4|      29|   ISP| FLL|    1093|     3|      7|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|2.5833333333333335|
|2008|    1|         3|        4|    636|       635|    921|       945|           WN|     2275| N454WN|              165|           190|    147|     -24|       1|   ISP| FLL|    1093|     5|     13|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|              2.45|
|2008|    1|         3|        4|    734|       730|    958|      1020|           WN|      550| N712SW|              324|           350|    314|     -22|       4|   ISP| LAS|    2283|     2|      8|        0|            null|       0|          NA|          NA|      NA|           NA|               NA| 5.233333333333333|
|2008|    1|         3|        4|   1326|      1230|   1559|      1530|           WN|     1056| N459WN|              153|           180|    143|      29|      56|   ISP| PBI|    1052|     5|      5|        0|            null|       0|           0|           0|       0|            0|               29|2.3833333333333333|
|2008|    1|         3|        4|   1749|      1725|   2019|      2030|           WN|     2175| N621SW|              150|           185|    138|     -11|      24|   ISP| PBI|    1052|     4|      8|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|               2.3|
|2008|    1|         3|        4|    726|       720|    958|      1020|           WN|     3319| N206WN|              152|           180|    140|     -22|       6|   ISP| PBI|    1052|     4|      8|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|2.3333333333333335|
|2008|    1|         3|        4|    646|       640|    929|       955|           WN|     3667| N280WN|              163|           195|    151|     -26|       6|   ISP| RSW|    1101|     3|      9|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|2.5166666666666666|
|2008|    1|         3|        4|   1153|      1140|   1428|      1440|           WN|     2006| N241WN|              155|           180|    143|     -12|      13|   ISP| TPA|    1034|     4|      8|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|2.3833333333333333|
|2008|    1|         3|        4|   1528|      1510|   1802|      1810|           WN|     3858| N200WN|              154|           180|    144|      -8|      18|   ISP| TPA|    1034|     4|      6|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|               2.4|
|2008|    1|         3|        4|    634|       635|    907|       935|           WN|     3928| N459WN|              153|           180|    142|     -28|      -1|   ISP| TPA|    1034|     3|      8|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|2.3666666666666667|
|2008|    1|         3|        4|   1832|      1655|    148|        30|           WN|      302| N473WN|              256|           275|    243|      78|      97|   LAS| ALB|    2237|     3|     10|        0|            null|       0|           8|           0|       0|            0|               70|              4.05|
|2008|    1|         3|        4|   1256|      1240|   1724|      1720|           WN|      155| N238WN|              148|           160|    131|       4|      16|   LAS| AUS|    1090|     3|     14|        0|            null|       0|          NA|          NA|      NA|           NA|               NA| 2.183333333333333|
|2008|    1|         3|        4|   2118|      2015|    144|        50|           WN|     2021| N499WN|              146|           155|    127|      54|      63|   LAS| AUS|    1090|     5|     14|        0|            null|       0|          23|           0|       0|            0|               31|2.1166666666666667|
|2008|    1|         3|        4|    905|       850|   1334|      1330|           WN|     3222| N309SW|              149|           160|    135|       4|      15|   LAS| AUS|    1090|     4|     10|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|              2.25|
|2008|    1|         3|        4|   1739|      1640|    114|        25|           WN|     1018| N245WN|              275|           285|    253|      49|      59|   LAS| BDL|    2298|     9|     13|        0|            null|       0|          19|           0|       0|            0|               30| 4.216666666666667|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------------+
only showing top 20 rows

## Selecting

The Spark variant of SQL's SELECT is the `.select()` method. This method takes multiple arguments - one for each column you want to select. These arguments can either be the column name as a string (one for each column) or a column object (using the `df.colName` syntax). When you pass a column object, you can perform operations like addition or subtraction on the column to change the data contained in it, much like inside `.withColumn()`.

The difference between `.select()` and `.withColumn()` methods is that `.select()` returns only the columns you specify, while `.withColumn()` returns all the columns of the DataFrame in addition to the one you defined. It's often a good idea to drop columns you don't need at the beginning of an operation so that you're not dragging around extra data as you're wrangling. In this case, you would use `.select()` and not `.withColumn()`.

Remember, a SparkSession called spark is already in your workspace, along with the Spark DataFrame flights.

In [9]:
# Select the first set of columns
selected1 = flights.select("TailNum", "Origin", "Dest")

# Select the second set of columns
temp = flights.select(flights.Origin, flights.Dest, flights.UniqueCarrier)

# Define first filter
filterA = flights.Origin == "SEA"

# Define second filter
filterB = flights.Dest == "PDX"

# Filter the data, first by filterA then by filterB
selected2 = temp.filter(filterA).filter(filterB)

## Selecting II

Similar to SQL, you can also use the `.select()` method to perform column-wise operations. When you're selecting a column using the df.colName notation, you can perform any column operation and the `.select()` method will return the transformed column. For example,
```
flights.select(flights.air_time/60)
```

returns a column of flight durations in hours instead of minutes. You can also use the `.alias()` method to rename a column you're selecting. So if you wanted to `.select()` the column `duration_hrs` (which isn't in your DataFrame) you could do
```
flights.select((flights.air_time/60).alias("duration_hrs"))
```

The equivalent Spark DataFrame method .selectExpr() takes SQL expressions as a string:
```
flights.selectExpr("air_time/60 as duration_hrs")
```
with the SQL as keyword being equivalent to the `.alias()` method. To select multiple columns, you can pass multiple strings.

In [28]:
# Define avg_speed
avg_speed = (flights.Distance/(flights.AirTime/60)).alias("avg_speed")

# Select the correct columns
speed1 = flights.select("Origin", "Dest", "TailNum", avg_speed)

# Create the same table using a SQL expression
speed2 = flights.selectExpr("Origin", "Dest", "Tailnum", "Distance/(AirTime/60) as avg_speed")

In [33]:
speed1.show()

+------+----+-------+------------------+
|Origin|Dest|TailNum|         avg_speed|
+------+----+-------+------------------+
|   IAD| TPA| N712SW| 418.9655172413793|
|   IAD| TPA| N772SW|430.08849557522126|
|   IND| BWI| N428WN| 406.5789473684211|
|   IND| BWI| N612SW|396.15384615384613|
|   IND| BWI| N464WN|401.29870129870125|
|   IND| JAX| N726SW|474.48275862068965|
|   IND| LAS| N763SW|415.04347826086956|
|   IND| LAS| N428WN| 435.8904109589041|
|   IND| MCI| N689SW|386.57142857142856|
|   IND| MCI| N648SW|386.57142857142856|
|   IND| MCO| N690SW| 468.6792452830189|
|   IND| MCO| N334SW|464.29906542056074|
|   IND| MDW| N476WN|249.23076923076923|
|   IND| MDW| N765SW| 262.7027027027027|
|   IND| MDW| N420WN| 277.7142857142857|
|   IND| MDW| N263WN| 262.7027027027027|
|   IND| PHX| N286WN| 419.4366197183099|
|   IND| PHX| N778SW| 435.8048780487805|
|   IND| TPA| N674AA| 457.0909090909091|
|   ISP| BWI| N643SW|269.38775510204084|
+------+----+-------+------------------+
only showing top 20 rows

In [34]:
speed2.show()

+------+----+-------+------------------+
|Origin|Dest|Tailnum|         avg_speed|
+------+----+-------+------------------+
|   IAD| TPA| N712SW| 418.9655172413793|
|   IAD| TPA| N772SW|430.08849557522126|
|   IND| BWI| N428WN| 406.5789473684211|
|   IND| BWI| N612SW|396.15384615384613|
|   IND| BWI| N464WN|401.29870129870125|
|   IND| JAX| N726SW|474.48275862068965|
|   IND| LAS| N763SW|415.04347826086956|
|   IND| LAS| N428WN| 435.8904109589041|
|   IND| MCI| N689SW|386.57142857142856|
|   IND| MCI| N648SW|386.57142857142856|
|   IND| MCO| N690SW| 468.6792452830189|
|   IND| MCO| N334SW|464.29906542056074|
|   IND| MDW| N476WN|249.23076923076923|
|   IND| MDW| N765SW| 262.7027027027027|
|   IND| MDW| N420WN| 277.7142857142857|
|   IND| MDW| N263WN| 262.7027027027027|
|   IND| PHX| N286WN| 419.4366197183099|
|   IND| PHX| N778SW| 435.8048780487805|
|   IND| TPA| N674AA| 457.0909090909091|
|   ISP| BWI| N643SW|269.38775510204084|
+------+----+-------+------------------+
only showing top 20 rows

## Aggregating

All of the common aggregation methods, like `.min()`, `.max()`, and `count()`are GroupedData methods. These are created by calling the `groupBy()`DataFrame method. You'll learn exactly what that means in a few exercises. For now, all you have to do to use these functions is call that method on your DataFrame. For example, to find the minimum value of a column, col, in a DataFrame, df, you could do
```
df.groupBy().min("col").show()
```
This creates a GroupedData object (so you can use the `min()`method), then finds the minimum value in col, and returns it as a DataFrame.

Now you're ready to do some aggregating of your own!

A SparkSession called spark is already in your workspace, along with the Spark DataFrame flights.

In [45]:
# Find the shortest flight from PDX in terms of distance
flights.filter(flights.Origin=="PDX").groupBy().min("Distance").show()

# Find the longest flight from SEA in terms of air time
flights.filter(flights.Origin=="SEA").groupBy().max("AirTime").show()

AnalysisException: "AirTime" is not a numeric column. Aggregation function can only be applied on a numeric column.;

## Grouping and Aggregating I

Part of what makes aggregating so powerful is the addition of groups. PySpark has a whole class devoted to grouped data frames: `pyspark.sql.GroupedData`, which you saw in the last two exercises.

You've learned how to create a grouped DataFrame by calling the `.groupBy()` method on a DataFrame with no arguments.

Now you'll see that when you pass the name of one or more columns in your DataFrame to the `.groupBy()` method, the aggregation methods behave like when you use a `GROUP BY` statement in a SQL query!

Remember, a SparkSession called spark is already in your workspace, along with the Spark DataFrame flights.

In [49]:
# Group by tailnum
by_plane = flights.groupBy("TailNum")

# Number of flights each plane made
by_plane.count().show()

# Group by origin
by_origin = flights.groupBy("Origin")

# Average duration of flights from PDX and SEA
by_origin.avg("AirTime").show()

+-------+-----+
|TailNum|count|
+-------+-----+
| N672SW|  204|
| N496WN|  190|
| N622SW|  200|
| N445WN|  180|
| N251WN|  176|
| N13118|    1|
| N448WN|  171|
| N240WN|  176|
| N430WN|  173|
| N651SW|  212|
| N611SW|  207|
| N404WN|  183|
| N757LV|  166|
| N14940|    1|
| N772SW|  183|
| N229WN|  176|
| N214WN|  183|
| N626SW|  207|
| N369SW|  118|
| N605SW|  105|
+-------+-----+
only showing top 20 rows

AnalysisException: "AirTime" is not a numeric column. Aggregation function can only be applied on a numeric column.;

## Grouping and Aggregating II

In addition to the GroupedData methods you've already seen, there is also the `.agg()` method. This method lets you pass an aggregate column expression that uses any of the aggregate functions from the `pyspark.sql.functions` submodule.

This submodule contains many useful functions for computing things like standard deviations. All the aggregation functions in this submodule take the name of a column in a GroupedData table.

Remember, a SparkSession called spark is already in your workspace, along with the Spark DataFrame flights. The grouped DataFrames you created in the last exercise are also in your workspace.

In [52]:
# Import pyspark.sql.functions as F
import pyspark.sql.functions as F

# Group by month and dest
by_month_dest = flights.groupBy("Month", "Dest")

# Average departure delay by month and destination
by_month_dest.avg("DepDelay").show()

# Standard deviation of departure delay
by_month_dest.agg(F.stddev("DepDelay")).show()

AnalysisException: "DepDelay" is not a numeric column. Aggregation function can only be applied on a numeric column.;

## Joining

Another very common data operation is the join. Joins are a whole topic unto themselves, so in this course we'll just look at simple joins. If you'd like to learn more about joins, you can take a look here.

A join will combine two different tables along a column that they share. This column is called the key. Examples of keys here include the `tailnum` and `carrier` columns from the flights table.

For example, suppose that you want to know more information about the plane that flew a flight than just the tail number. This information isn't in the `flights` table because the same plane flies many different flights over the course of two years, so including this information in every row would result in a lot of duplication. To avoid this, you'd have a second table that has only one row for each plane and whose columns list all the information about the plane, including its tail number. You could call this table `planes`

When you join the `flights` table to this table of airplane information, you're adding all the columns from the `planes` table to the `flights` table. To fill these columns with information, you'll look at the tail number from the `flights` table and find the matching one in the `planes` table, and then use that row to fill out all the new columns.

Now you'll have a much bigger table than before, but now every row has all information about the plane that flew that flight!

## Joining II

In PySpark, joins are performed using the DataFrame method `.join()`. This method takes three arguments. The first is the second DataFrame that you want to join with the first one. The second argument, `on`, is the name of the key column(s) as a string. The names of the key column(s) must be the same in each table. The third argument, `how`, specifies the kind of join to perform. In this course we'll always use the value `how="leftouter"`.

The flights dataset and a new dataset called airports are already in your workspace.

### Run this code below probably will cause an error

In [ ]:
# Examine the data
print(airports.show())

# Rename the faa column
airports = airports.withColumnRenamed("faa", "dest")

# Join the DataFrames
flights_with_airports = flights.join(airports, "dest", "leftouter")

# Examine the new DataFrame
print(flights_with_airports.show())